[user]
    name = daizeng1984
    email = daizeng1984@gmail.com\n
[diff]
    tool = vimdiff
[difftool]
    prompt = true
[alias]
    d = difftool
    s = status
    co = commit
[push]
    default = matching
[pager]
    status = false
    stash = false

[merge]
    tool = vimdiff

[core]
    editor = vim
	pager = diff-so-fancy | less --tabs=4 -RFX
	autocrlf = input

[i18n]
    filesEncoding = utf-8

[color]
    ui = always
    pager = true

[mergetool]
    keepBackup = false

[alias]
    # https://www.jacobtomlinson.co.uk/quick%20tip/2016/01/18/pretty-git-logs-with-git-lg/
    lg = !"git lg2"
    lg1 = !"git lg1-specific --all"
    lg2 = !"git lg2-specific --all"
    lg3 = !"git lg3-specific --all"

    lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
    lg2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    lg3-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'

    l = !"git log --decorate"

[alias]
    # http://stackoverflow.com/questions/1265040/how-to-count-total-lines-changed-by-a-specific-author-in-a-git-repository#answer-1265229
    stat=!"_mygitstat(){ git log --oneline --shortstat --author=${1} ; }; _mygitstat"

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[github]
	user = daizeng1984
[credential]
	helper = cache --timeout=2628000
