# `!v strftime("%Y-%m-%d)`} ${4:`!v strftime("%H:%M")`
snippet task
${1:TODO} ${2:!!} (${3:`!v strftime("%Y-%m-%d")`} ${4:`!v strftime("%H:%M")`}) -- project:`!p snip.rv = snip.basename or 'Unknown'`
endsnippet
